[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docxtpl = "*"
clockify-api-client = "*"
python-dotenv = "*"
requests = "*"
docx2pdf = "*"

[dev-packages]

[requires]
python_version = "3.9"
